.App {
  text-align: center;
}

.content {
  text-align: left;
  margin-bottom: 60px;
}

.button-group {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background-color: #fff;
}

.button {
  flex: 1;
  height: 48px;
  line-height: 48px;
  border-top: 1px solid #eee;
}

.button + .button {
  border-left: 1px solid #eee;
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

.cancel-button {
  height: 36px;
  line-height: 36px;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.remark-panel {
  background-color: #fff;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.remark-panel textarea {
  width: 100%;
  padding: 10px 5px;
}